openapi: 3.0.0
info:
  version: '2022-09-01'
  title: New Payment Gateway APIs
  contact:
    email: nextgenapi@cashfree.com
servers:
- url: https://sandbox.cashfree.com/pg
  description: Sandbox server
- url: https://api.cashfree.com/pg
  description: Production server
paths:
  "/orders":
    post:
      summary: Create Order
      description: Use this API to create orders with Cashfree from your backend and
        get the payment link. To use this API S2S flag needs to be enabled from the
        backend. In case you want to use the cards payment option the PCI DSS flag
        is required, for more information email us at "care@cashfree.com".
      tags:
      - Orders
      operationId: CreateOrder
      deprecated: false
      parameters:
      - "$ref": "#/components/parameters/clientIdHeader"
      - "$ref": "#/components/parameters/clientSecretHeader"
      - "$ref": "#/components/parameters/apiVersionHeader"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateOrderBackendRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OrdersEntity"
          headers:
            x-api-version:
              schema:
                type: string
            x-ratelimit-limit:
              schema:
                type: integer
            x-ratelimit-remaining:
              schema:
                type: integer
            x-ratelimit-retry:
              schema:
                type: integer
            x-ratelimit-type:
              schema:
                type: string
            x-request-id:
              schema:
                type: string
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthenticationError"
          headers:
            x-api-version:
              schema:
                type: string
            x-ratelimit-limit:
              schema:
                type: integer
            x-ratelimit-remaining:
              schema:
                type: integer
            x-ratelimit-retry:
              schema:
                type: integer
            x-ratelimit-type:
              schema:
                type: string
            x-request-id:
              schema:
                type: string
        '429':
          description: Rate Limit Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RateLimitError"
          headers:
            x-api-version:
              schema:
                type: string
            x-ratelimit-limit:
              schema:
                type: integer
            x-ratelimit-remaining:
              schema:
                type: integer
            x-ratelimit-retry:
              schema:
                type: integer
            x-ratelimit-type:
              schema:
                type: string
            x-request-id:
              schema:
                type: string
        '500':
          description: API related Errors
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiError"
          headers:
            x-api-version:
              schema:
                type: string
            x-ratelimit-limit:
              schema:
                type: integer
            x-ratelimit-remaining:
              schema:
                type: integer
            x-ratelimit-retry:
              schema:
                type: integer
            x-ratelimit-type:
              schema:
                type: string
            x-request-id:
              schema:
                type: string
        default:
          headers:
            x-api-version:
              schema:
                type: string
            x-ratelimit-limit:
              schema:
                type: integer
            x-ratelimit-remaining:
              schema:
                type: integer
            x-ratelimit-retry:
              schema:
                type: integer
            x-ratelimit-type:
              schema:
                type: string
            x-request-id:
              schema:
                type: string
          description: Any bad or invalid request will lead to following error object
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      callbacks:
        PaymentWebhook:
          "{$request.body#/notify_url}":
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      "$ref": "#/components/schemas/PaymentSuccessWebhook"
              responses:
                '200':
                  description: OK
components:
  parameters:
    clientIdHeader:
      in: header
      name: x-client-id
      required: true
      schema:
        description: Client app ID
        type: string
    clientSecretHeader:
      in: header
      name: x-client-secret
      required: true
      schema:
        type: string
        description: Client secret key
    apiVersionHeader:
      in: header
      name: x-api-version
      schema:
        type: string
        description: API version to be used
        default: '2022-09-01'
  schemas:
    AuthorizationRequest:
      title: AuthorizationRequest
      example:
        action: CAPTURE
        amount: 100
      type: object
      properties:
        action:
          type: string
          enum:
          - CAPTURE
          - VOID
          description: Type of authorization to run. Can be one of 'CAPTURE' , 'VOID'
        amount:
          type: number
          description: The amount if you are running a 'CAPTURE'
    OTPRequest:
      title: OTPRequest
      type: object
      required:
      - otp
      - action
      properties:
        otp:
          type: string
          description: OTP to be submitted
        action:
          type: string
          enum:
          - SUBMIT_OTP
          - RESEND_OTP
          description: The action for this workflow. Could be either SUBMIT_OTP or
            RESEND_OTP
    FetchAllSavedInstruments:
      title: FetchAllSavedInstruments
      example:
        customer_id: siddhesh_desai
        afa_reference: 740324562
        instrument_id: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
        instrument_type: card
        instrument_uid: 0d8f70838cc5af8b1cd2bc0fe71278551fd3f1101e40020d89ad22ceba4f933c
        instrument_display: xxxxxxxxxxxx4375
        instrument_status: ACTIVE
        created_at: '2021-11-11 16:57:57'
        instrument_meta:
          card_network: VISA
          card_bank_name: HDFC Bank Limited
          card_country: IN
          card_type: DEBIT_CARD
          card_token_details:
      properties:
        customer_id:
          type: string
          description: customer_id for which the instrument was saved
        afa_reference:
          type: integer
          description: cf_payment_id of the successful transaction done while saving
            instrument
        instrument_id:
          type: string
          description: saved instrument id
        instrument_type:
          type: string
          enum:
          - card
          description: Type of the saved instrument
        instrument_uid:
          type: string
          description: Unique id for the saved instrument
        instrument_display:
          type: string
          description: masked card number displayed to the customer
        instrument_status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          description: Status of the saved instrument.
        created_at:
          type: string
          description: Timestamp at which instrument was saved.
        instrument_meta:
          "$ref": "#/components/schemas/SavedInstrumentMeta"
    SavedInstrumentMeta:
      title: InstrumentMeta
      properties:
        card_network:
          type: string
          description: card scheme/network of the saved card
        card_bank_name:
          type: string
          description: Issuing bank name of saved card
        card_country:
          type: string
          description: Issuing country of saved card
        card_type:
          type: string
          description: Type of saved card
        card_token_details:
          type: object
    FetchSettlement:
      title: FetchSettlement
      example:
        cursor:
        pageSize: 1
        data:
        - event_type: SETTLEMENT
          status: PAID
          payment_amount: 2000
          cf_settlement_id: 18647
          settlement_utr: PGI18647
          settlement_date: '2022-07-12T19:31:02+05:30'
          adjustment: -1489.47
          service_charge: 140.36
          amount_settled: 367.98
          payment_from: '2022-07-12T19:09:42+05:30'
          payment_till: '2022-07-12T19:30:00+05:30'
          settlement_initiated_on: '2022-07-12T19:31:02+05:30'
          settlement_type: INSTANT_SETTLEMENT
          settlement_charge: 1.86
          settlement_tax: 0.33
          remarks: Settled
      properties:
        cursor:
          type: string
          description: Specify a value from where you want to fetch the settlement
            details in the API call.
        limit:
          type: integer
          description: Specify the number of settlements you want to fetch in the
            API call.
        data:
          type: array
          items:
            type: object
            properties:
              event_type:
                type: string
                description: Event type is SETTLEMENT.
              cf_settlement_id:
                type: integer
                description: Unique ID to identify the settlement.
              status:
                type: string
                description: Status of the settlement.
              settlement_date:
                type: string
                description: Date and time when the settlement was processed.
              payment_amount:
                type: number
                description: Amount captured.
              settlement_utr:
                type: string
                description: Unique transaction reference number of the payment.
              adjustment:
                type: number
                description: Amount that is adjusted from the settlement amount.
              service_tax:
                type: number
                description: Service tax applicable on settlement.
              service_charge:
                type: number
                description: Service charge applicable on settlement.
              amount_settled:
                type: number
                description: Net amount that is settled after deducting the settlement
                  charges and tax. (Settlement charges and tax is applicable for instant
                  and on demand settlements.)
              payment_from:
                type: string
                description: The start time of time range of settlement.
              payment_till:
                type: string
                description: The end time of time range of settlement
              reason:
                type: string
                description: Reason for failure.
              settlement_initiated_on:
                type: string
                description: Settlement initiation time.
              settlement_type:
                type: string
                description: Settlement type.
              settlement_charge:
                type: number
                description: Settlement tax applicable on settlement.
              settlement_tax:
                type: number
                description: Settlement charge applicable on settlement.
              remarks:
                type: string
                description: Remarks on the settlement.
    FetchPGRecon:
      title: FetchPGRecon
      example:
        cursor:
        limit: 9
        data:
        - cf_settlement_id: 45345
          settlement_date: '2022-08-16T14:45:24+05:30'
          sale_type: CREDIT
          event_amount: 3000
          amount_settled: 2796.46
          event_settlement_amount: 2800
          event_currency: INR
          payment_till: '2022-08-16T14:45:00+05:30'
          event_id: '45345'
          event_type: SETTLEMENT
          service_charge: 0
          service_tax: 0
          settlement_utr: PGI45345
          payment_from: '2022-08-16T14:14:55+05:30'
          settlement_initiated_on: '2022-08-16T14:45:24+05:30'
          adjustment: -200
          settlement_tax: 0.54
          event_time: '2022-08-16T14:45:07+05:30'
          settlement_charge: 3
          entity: recon
          remarks: Settled
          event_status: PAID
          settlement_type: INSTANT_SETTLEMENT
          payment_group: CREDIT_CARD
        - cf_settlement_id: 45356
          settlement_date: '2022-08-16T14:45:14+05:30'
          sale_type: CREDIT
          event_amount: 0
          amount_settled: 0
          event_settlement_amount: 0
          event_currency: INR
          payment_till: '2022-08-16T14:45:14+05:30'
          event_id: '45356'
          event_type: SETTLEMENT
          service_charge: 0
          service_tax: 0
          settlement_utr: ''
          payment_from: '2022-08-16T14:45:14+05:30'
          adjustment: 0
          settlement_tax: 0
          event_time: '2022-08-16T14:45:14+05:30'
          settlement_charge: 0
          entity: recon
          remarks: No eligible transactions to settle
          event_status: PAID
          settlement_type: INSTANT_SETTLEMENT
          payment_group: CREDIT_CARD
        - cf_settlement_id: 45373
          settlement_date: '2022-08-16T14:45:38+05:30'
          sale_type: CREDIT
          event_amount: 0
          amount_settled: 0
          event_settlement_amount: 0
          event_currency: INR
          payment_till: '2022-08-16T14:45:38+05:30'
          event_id: '45373'
          event_type: SETTLEMENT
          service_charge: 0
          service_tax: 0
          settlement_utr: ''
          payment_from: '2022-08-16T14:45:38+05:30'
          adjustment: 0
          settlement_tax: 0
          event_time: '2022-08-16T14:45:38+05:30'
          settlement_charge: 0
          entity: recon
          remarks: No eligible transactions to settle
          event_status: PAID
          settlement_type: INSTANT_SETTLEMENT
          payment_group: CREDIT_CARD
        - cf_settlement_id: 45406
          split_service_charge: 0
          sale_type: DEBIT
          event_amount: 3067.26
          payment_service_charge: 0
          event_settlement_amount: 3067.26
          event_type: DISPUTE
          order_amount: 3000
          payment_service_tax: 0
          closed_in_favor_of: MERCHANT
          dispute_resolved_on: '2022-08-16 14:53:15'
          event_status: CLOSED
          settlement_date: '2022-08-16T14:45:24+05:30'
          customer_phone: '8281554863'
          dispute_note: tesr
          event_currency: INR
          event_id: '272'
          settlement_utr: PGI45406
          customer_email: manideep.ellur@cashfree.com
          dispute_category: 1402-Duplicate Processing
          customer_name: Manideep
          split_service_tax: 0
          vendor_commission: 0
          order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
          entity: recon
          event_time: '2022-08-16T14:52:55+05:30'
          payment_group: CREDIT_CARD
        - cf_settlement_id: 45406
          split_service_charge: 0
          sale_type: CREDIT
          event_amount: 3067.26
          payment_service_charge: 0
          event_settlement_amount: 3067.26
          event_type: DISPUTE_REVERSAL
          order_amount: 3000
          payment_service_tax: 0
          closed_in_favor_of: MERCHANT
          dispute_resolved_on: '2022-08-16 14:53:15'
          event_status: CLOSED
          settlement_date: '2022-08-16T14:45:24+05:30'
          customer_phone: '8281554863'
          dispute_note: tesr
          event_currency: INR
          event_id: '272'
          settlement_utr: PGI45406
          customer_email: manideep.ellur@cashfree.com
          dispute_category: 1402-Duplicate Processing
          customer_name: Manideep
          split_service_tax: 0
          vendor_commission: 0
          order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
          entity: recon
          event_time: '2022-08-16T14:52:55+05:30'
          payment_group: CREDIT_CARD
        - cf_settlement_id: 45345
          event_id: '45345'
          event_type: OTHER_ADJUSTMENT
          sale_type: CREDIT
          event_amount: 3000
          adjustment_remarks: INSTANT_SETTLEMENT_COMPUTE
          event_currency: INR
          event_time: '2022-08-16T14:45:07+05:30'
          entity: recon
          event_settlement_amount: 3000
          payment_group: CREDIT_CARD
        - cf_settlement_id: 45345
          event_id: '45345'
          event_type: OTHER_ADJUSTMENT
          sale_type: DEBIT
          event_amount: 3
          adjustment_remarks: INSTANT_SETTLEMENT_CHARGE
          event_currency: INR
          event_time: '2022-08-16T14:45:21+05:30'
          entity: recon
          event_settlement_amount: 3
          payment_group: CREDIT_CARD
        - cf_settlement_id: 45345
          event_id: '45345'
          event_type: OTHER_ADJUSTMENT
          sale_type: DEBIT
          event_amount: 0.54
          adjustment_remarks: INSTANT_SETTLEMENT_TAX
          event_currency: INR
          event_time: '2022-08-16T14:45:21+05:30'
          entity: recon
          event_settlement_amount: 0.54
        - cf_settlement_id: 45345
          event_id: '45345'
          event_type: OTHER_ADJUSTMENT
          sale_type: DEBIT
          event_amount: 2796.46
          adjustment_remarks: INSTANT_SETTLEMENT_SWEEP
          event_currency: INR
          event_time: '2022-08-16T14:45:21+05:30'
          entity: recon
          event_settlement_amount: 2796.46
          payment_group: CREDIT_CARD
      properties:
        cursor:
          type: string
          description: Specifies from where the next set of settlement details should
            be fetched.
        limit:
          type: integer
          description: Number of settlements you want to fetch in the next iteration.
        data:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
                description: Unique ID associated with the event.
              event_type:
                type: string
                description: The event type can be SETTLEMENT, PAYMENT, REFUND, REFUND_REVERSAL,
                  DISPUTE, DISPUTE_REVERSAL, CHARGEBACK, CHARGEBACK_REVERSAL, OTHER_ADJUSTMENT.
              event_settlement_amount:
                type: number
                description: Amount that is part of the settlement corresponding to
                  the event.
              event_amount:
                type: number
                description: Amount of the event. Example, refund amount, dispute
                  amount, payment amount, etc.
              sale_type:
                type: string
                description: Indicates if it is CREDIT/DEBIT sale.
              event_status:
                type: string
                description: Status of the event. Example - SUCCESS, FAILED, PENDING,
                  CANCELLED.
              entity:
                type: string
                description: Recon
              event_time:
                type: string
                description: Time associated with the event. Example, transaction
                  time, dispute initiation time
              event_currency:
                type: string
                description: Curreny type - INR.
              order_id:
                type: string
                description: Unique order ID. Alphanumeric and only '-' and '_' allowed.
              order_amount:
                type: number
                description: The amount which was passed at the order creation time.
              customer_phone:
                type: string
                description: Customer phone number.
              customer_email:
                type: string
                description: Customer email.
              customer_name:
                type: string
                description: Customer name.
              payment_amount:
                type: number
                description: Payment amount captured.
              payment_utr:
                type: string
                description: Unique transaction reference number of the payment.
              payment_time:
                type: string
                description: Date and time when the payment was initiated.
              payment_service_charge:
                type: number
                description: Service charge applicable for the payment.
              payment_service_tax:
                type: number
                description: Service tax applicable on the payment.
              cf_payment_id:
                type: integer
                description: Cashfree Payments unique ID to identify a payment.
              cf_settlement_id:
                type: integer
                description: Unique ID to identify the settlement.
              settlement_date:
                type: string
                description: Date and time when the settlement was processed.
              settlement_utr:
                type: string
                description: Unique transaction reference number of the settlement.
              split_service_charge:
                type: number
                description: Service charge that is applicable for splitting the payment.
              split_service_tax:
                type: number
                description: Service tax applicable for splitting the amount to vendors.
              vendor_commission:
                type: number
                description: Vendor commission applicable for this transaction.
              closed_in_favor_of:
                type: string
                description: Specifies whether the dispute was closed in favor of
                  the merchant or customer. /n Possible values - Merchant, Customer
              dispute_resolved_on:
                type: string
                description: Date and time when the dispute was resolved.
              dispute_category:
                type: string
                description: Category of the dispute - Dispute code and the reason
                  for dispute is shown.
              dispute_note:
                type: string
                description: Note regarding the dispute.
              refund_processed_at:
                type: string
                description: Date and time when the refund was processed.
              refund_arn:
                type: string
                description: The bank reference number for the refund.
              refund_note:
                type: string
                description: A refund note for your reference.
              refund_id:
                type: string
                description: An unique ID to associate the refund with.
              adjustment_remarks:
                type: string
                description: Other adjustment remarks.
              adjustment:
                type: number
                description: Amount that is adjusted from the settlement amount because
                  of any credit/debit event such as refund, refund_reverse etc.
              service_tax:
                type: number
                description: Service tax applicable on the settlement amount.
              service_charge:
                type: number
                description: Service charge applicable on the settlement amount.
              amount_settled:
                type: number
                description: Net amount that is settled after considering the adjustments,
                  settlement charge and tax.
              payment_from:
                type: string
                description: The start time of the time range of the payments considered
                  for the settlement.
              payment_till:
                type: string
                description: The end time of time range of the payments considered
                  for the settlement.
              reason:
                type: string
                description: Reason for settlement failure.
              settlement_initiated_on:
                type: string
                description: Date and time when the settlement was initiated.
              settlement_type:
                type: string
                description: Type of settlement. Possible values - Standard, Instant,
                  On demand.
              settlement_charge:
                type: number
                description: Settlement charges applicable on the settlement.
              settlement_tax:
                type: number
                description: Settlement tax applicable on the settlement.
              remarks:
                type: string
                description: Remarks on the settlement.
    FetchSettlementRecon:
      title: FetchSettlementRecon
      example:
        cursor:
        limit: 7
        data:
        - event_id: '43594'
          entity: recon
          event_type: REFUND
          sale_type: DEBIT
          event_time: '2022-08-16T15:06:41+05:30'
          event_settlement_amount: 200
          event_amount: 200
          event_status: SUCCESS
          event_currency: INR
          order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
          customer_name: Manideep
          customer_phone: '8281554863'
          customer_email: manideep.ellur@cashfree.com
          cf_payment_id: 885472862
          payment_amount: 3067.26
          order_amount: 3000
          payment_time: '2022-08-16T14:41:06+05:30'
          payment_service_charge: 0
          payment_service_tax: 0
          payment_utr: '210396'
          cf_settlement_id: 45406
          vendor_commission: 0
          split_service_charge: 0
          split_service_tax: 0
          settlement_utr: PGI45406
          settlement_date: '2022-08-16T14:45:24+05:30'
          refund_note: nh
          refund_id: REF_bb406ef0-886b-4f96-8fef-ba0a15d901e6
          refund_arn: test
          refund_processed_at: '2022-08-16T15:06:41+05:30'
          payment_group: CREDIT_CARD
        - event_id: '43594'
          entity: recon
          event_type: REFUND_REVERSAL
          sale_type: DEBIT
          event_time: '2022-08-16T15:06:41+05:30'
          event_settlement_amount: 200
          event_amount: 200
          event_status: SUCCESS
          event_currency: INR
          order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
          customer_name: Manideep
          customer_phone: '8281554863'
          customer_email: manideep.ellur@cashfree.com
          cf_payment_id: 885472862
          payment_amount: 3067.26
          order_amount: 3000
          payment_time: '2022-08-16T14:41:06+05:30'
          payment_service_charge: 0
          payment_service_tax: 0
          payment_utr: '210396'
          cf_settlement_id: 45406
          vendor_commission: 0
          split_service_charge: 0
          split_service_tax: 0
          settlement_utr: PGI45406
          settlement_date: '2022-08-16T14:45:24+05:30'
          refund_note: nh
          refund_id: REF_bb406ef0-886b-4f96-8fef-ba0a15d901e6
          refund_arn: test
          refund_processed_at: '2022-08-16T15:06:41+05:30'
          payment_group: CREDIT_CARD
        - event_id: '272'
          entity: recon
          event_type: DISPUTE
          sale_type: DEBIT
          event_time: '2022-08-16T14:52:55+05:30'
          event_settlement_amount: 3067.26
          event_amount: 3067.26
          event_status: CLOSED
          event_currency: INR
          order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
          customer_name: Manideep
          customer_phone: '8281554863'
          customer_email: manideep.ellur@cashfree.com
          cf_payment_id: 885472862
          payment_amount: 3067.26
          order_amount: 3000
          payment_time: '2022-08-16T14:41:06+05:30'
          payment_service_charge: 0
          payment_service_tax: 0
          payment_utr: '210396'
          cf_settlement_id: 45406
          vendor_commission: 0
          split_service_charge: 0
          split_service_tax: 0
          settlement_utr: PGI45406
          settlement_date: '2022-08-16T14:45:24+05:30'
          closed_in_favor_of: MERCHANT
          dispute_category: 1402-Duplicate Processing
          dispute_note: tesr
          dispute_resolved_on: '2022-08-16 14:53:15'
          payment_group: CREDIT_CARD
        - event_id: '272'
          entity: recon
          event_type: DISPUTE_REVERSAL
          sale_type: CREDIT
          event_time: '2022-08-16T14:52:55+05:30'
          event_settlement_amount: 3067.26
          event_amount: 3067.26
          event_status: CLOSED
          event_currency: INR
          order_id: order_1527072DQpGNwTMBlnAc1GfxmWalriHBG
          customer_name: Manideep
          customer_phone: '8281554863'
          customer_email: manideep.ellur@cashfree.com
          cf_payment_id: 885472862
          payment_amount: 3067.26
          order_amount: 3000
          payment_time: '2022-08-16T14:41:06+05:30'
          payment_service_charge: 0
          payment_service_tax: 0
          payment_utr: '210396'
          cf_settlement_id: 45406
          vendor_commission: 0
          split_service_charge: 0
          split_service_tax: 0
          settlement_utr: PGI45406
          settlement_date: '2022-08-16T14:45:24+05:30'
          closed_in_favor_of: MERCHANT
          dispute_category: 1402-Duplicate Processing
          dispute_note: tesr
          dispute_resolved_on: '2022-08-16 14:53:15'
          payment_group: CREDIT_CARD
        - event_id: '885472982'
          entity: recon
          event_type: PAYMENT
          sale_type: CREDIT
          event_time: '2022-08-16T15:07:56+05:30'
          event_settlement_amount: 3000
          event_amount: 3067.26
          event_status: SUCCESS
          event_currency: INR
          order_id: order_1527072DQsWeQWtwlll6BhI3bt0Fluj81
          customer_name: Manideep
          customer_phone: '8281554863'
          customer_email: manideep.ellur@cashfree.com
          order_amount: 3000
          payment_service_charge: 0
          payment_service_tax: 0
          payment_utr: '572910'
          cf_settlement_id: 45406
          vendor_commission: 0
          split_service_charge: 0
          split_service_tax: 0
          settlement_utr: PGI45406
          settlement_date: '2022-08-16T15:08:51+05:30'
          payment_group: CREDIT_CARD
        - event_id: '45406'
          entity: recon
          event_type: OTHER_ADJUSTMENT
          sale_type: DEBIT
          event_time: '2022-08-16T15:08:48+05:30'
          event_settlement_amount: 3
          event_amount: 3
          event_currency: INR
          cf_settlement_id: 45406
          adjustment_remarks: INSTANT_SETTLEMENT_CHARGE
          payment_group: CREDIT_CARD
        - event_id: '45406'
          entity: recon
          event_type: OTHER_ADJUSTMENT
          sale_type: DEBIT
          event_time: '2022-08-16T15:08:48+05:30'
          event_settlement_amount: 0.54
          event_amount: 0.54
          event_currency: INR
          cf_settlement_id: 45406
          adjustment_remarks: INSTANT_SETTLEMENT_TAX
          payment_group: CREDIT_CARD
      properties:
        cursor:
          type: string
          description: Specifies from where the next set of settlement details should
            be fetched.
        limit:
          type: integer
          description: Number of settlements you want to fetch in the next iteration.
        data:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
                description: Unique ID associated with the event.
              event_type:
                type: string
                description: The event type can be PAYMENT, REFUND, REFUND_REVERSAL,
                  DISPUTE, DISPUTE_REVERSAL, CHARGEBACK, CHARGEBACK_REVERSAL, OTHER_ADJUSTMENT.
              event_settlement_amount:
                type: number
                description: Amount that is part of the settlement corresponding to
                  the event.
              event_amount:
                type: number
                description: Amount corresponding to the event. Example, refund amount,
                  dispute amount, payment amount, etc.
              sale_type:
                type: string
                description: Indicates if it is CREDIT/DEBIT sale.
              event_status:
                type: string
                description: Status of the event. Example - SUCCESS, FAILED, PENDING,
                  CANCELLED.
              entity:
                type: string
                description: Recon
              event_time:
                type: string
                description: Time associated with the event. Example, transaction
                  time, dispute initiation time
              event_currency:
                type: string
                description: Curreny type - INR.
              order_id:
                type: string
                description: Unique order ID. Alphanumeric and only '-' and '_' allowed.
              order_amount:
                type: number
                description: The amount which was passed at the order creation time.
              customer_phone:
                type: string
                description: Customer phone number.
              customer_email:
                type: string
                description: Customer email.
              customer_name:
                type: string
                description: Customer name.
              payment_amount:
                type: number
                description: Payment amount captured.
              payment_utr:
                type: string
                description: Unique transaction reference number of the payment.
              payment_time:
                type: string
                description: Date and time when the payment was initiated.
              payment_service_charge:
                type: number
                description: Service charge applicable for the payment.
              payment_service_tax:
                type: number
                description: Service tax applicable on the payment.
              cf_payment_id:
                type: integer
                description: Cashfree Payments unique ID to identify a payment.
              cf_settlement_id:
                type: integer
                description: Unique ID to identify the settlement.
              settlement_date:
                type: string
                description: Date and time when the settlement was processed.
              settlement_utr:
                type: string
                description: Unique transaction reference number of the settlement.
              split_service_charge:
                type: number
                description: Service charge that is applicable for splitting the payment.
              split_service_tax:
                type: number
                description: Service tax applicable for splitting the amount to vendors.
              vendor_commission:
                type: number
                description: Vendor commission applicable for this transaction.
              closed_in_favor_of:
                type: string
                description: Specifies whether the dispute was closed in favor of
                  the merchant or customer. Possible values - Merchant, Customer.
              dispute_resolved_on:
                type: string
                description: Date and time when the dispute was resolved.
              dispute_category:
                type: string
                description: Category of the dispute - Dispute code and the reason
                  for dispute is shown.
              dispute_note:
                type: string
                description: Note regarding the dispute.
              refund_processed_at:
                type: string
                description: Date and time when the refund was processed.
              refund_arn:
                type: string
                description: The bank reference number for refund.
              refund_note:
                type: string
                description: A refund note for your reference.
              refund_id:
                type: string
                description: An unique ID associated with the refund.
              adjustment_remarks:
                type: string
                description: Other adjustment remarks.
    Cryptogram:
      title: FetchCryptogram
      example:
        instrument_id: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
        token_requestor_id: '22457512314'
        card_number: '4491365621601472'
        card_expiry_mm: '06'
        card_expiry_yy: '2025'
        cryptogram: AQBBBBBBZatIlaIAmWKSghwBBBB=
        card_display: '1234'
      properties:
        instrument_id:
          type: string
          description: instrument_id of saved instrument
        token_requestor_id:
          type: string
          description: TRID issued by card networks
        card_number:
          type: string
          description: token pan number
        card_expiry_mm:
          type: string
          description: token pan expiry month
        card_expiry_yy:
          type: string
          description: token pan expiry year
        cryptogram:
          type: string
          description: cryptogram
        card_display:
          type: string
          description: last 4 digits of original card number
    CreateRefundRequest:
      title: CreateRefundRequest
      example:
        refund_amount: 1
        refund_id: refund_00912
        refund_note: refund note for reference
        refund_speed: STANDARD or INSTANT
      type: object
      properties:
        refund_amount:
          type: number
          format: double
          description: Amount to be refunded. Should be lesser than or equal to the
            transaction amount. (Decimals allowed)
        refund_id:
          type: string
          description: An unique ID to associate the refund with. Provie alphanumeric
            values
          minLength: 3
          maxLength: 40
        refund_note:
          type: string
          description: A refund note for your reference.
          minLength: 3
          maxLength: 100
        refund_speed:
          type: string
          enum:
          - STANDARD
          - INSTANT
          description: Speed at which the refund is processed. It's an optional field
            with default being STANDARD
        refund_splits:
          type: array
          items:
            "$ref": "#/components/schemas/VendorSplit"
      required:
      - refund_amount
      - refund_id
    OrderPayRequest:
      title: OrderPayRequest
      type: object
      properties:
        payment_session_id:
          type: string
          example: session__CvcEmNKDkmERQrxnx39ibhJ3Ii034pjc8ZVxf3qcgEXCWlgDDlHRgz2XYZCqpajDQSXMMtCusPgOIxYP2LZx0-05p39gC2Vgmq1RAj--gcn
        payment_method:
          oneOf:
          - "$ref": "#/components/schemas/CardPaymentMethod"
          - "$ref": "#/components/schemas/UPIPaymentMethod"
          - "$ref": "#/components/schemas/NetBankingPaymentMethod"
          - "$ref": "#/components/schemas/AppPaymentMethod"
          - "$ref": "#/components/schemas/CardEMIPaymentMethod"
          - "$ref": "#/components/schemas/CardlessEMIPaymentMethod"
          - "$ref": "#/components/schemas/PaylaterPaymentMethod"
        save_instrument:
          type: boolean
        offer_id:
          type: string
          description: This is required if any offers needs to be applied to the order.
          example: faa6cc05-d1e2-401c-b0cf-0c9db3ff0f0b
      required:
      - payment_session_id
      - payment_method
    UPIPaymentMethod:
      title: UPIPaymentMethod
      example:
        upi:
          channel: collect
          upi_id: rajnandan1@okhdfcbak
      type: object
      properties:
        upi:
          "$ref": "#/components/schemas/Upi"
      required:
      - upi
    Upi:
      title: Upi
      example:
        channel: collect
        upi_id: rajnandan1@okhdfcbak
        upi_expiry_minutes: 10
      type: object
      properties:
        channel:
          type: string
          enum:
          - link
          - collect
          - qrcode
          description: Specify the channel through which the payment must be processed.
            Can be one of ["link", "collect", "qrcode"]
        upi_id:
          type: string
          description: Customer UPI VPA to process payment.
        upi_expiry_minutes:
          type: number
          description: The UPI request will be valid for this expiry minutes. This
            parameter is only applicable for a UPI collect payment. The default value
            is 5 minutes. You should keep the minimum as 5 minutes, and maximum as
            15 minutes
        authorize_only:
          type: boolean
          description: For one time mandate on UPI. Set this as authorize_only = true.
            Please note that you can only use the "collect" channel if you are sending
            a one time mandate request
        authorization:
          type: object
          "$ref": "#/components/schemas/UPIAuthorizeDetails"
      required:
      - channel
    UPIAuthorizeDetails:
      title: UPIAuthorizeDetails
      example:
        authorization:
          approve_by: '2022-07-02T10:20:12+05:30'
          start_time: '2022-09-21T12:34:34Z'
          end_time: '2022-10-22T12:34:34Z'
      type: object
      properties:
        approve_by:
          type: string
          description: Time by which this authorization should be approved by the
            customer.
        start_time:
          type: string
          description: This is the time when the UPI one time mandate will start
        end_time:
          type: string
          description: This is the time when the UPI mandate will be over. If the
            mandate has not been executed by this time, the funds will be returned
            back to the customer after this time.
    AppPaymentMethod:
      title: AppPaymentMethod
      example:
        app:
          channel: link
          provider: gpay
          phone: '8474090552'
      type: object
      properties:
        app:
          "$ref": "#/components/schemas/App"
      required:
      - app
    App:
      title: App
      example:
        channel: link
        provider: gpay
        phone: '8474090552'
      type: object
      properties:
        channel:
          type: string
          description: Specify the channel through which the payment must be processed.
        provider:
          type: string
          enum:
          - gpay
          - phonepe
          - ola
          - paytm
          - amazon
          - airtel
          - freecharge
          - mobikwik
          - jio
          description: Specify the provider through which the payment must be processed.
        phone:
          type: string
          description: Customer phone number associated with a wallet for payment.
      required:
      - channel
      - provider
      - phone
    NetBankingPaymentMethod:
      title: NetBankingPaymentMethod
      example:
        netbanking:
          channel: link
          netbanking_bank_code: 3022
      type: object
      properties:
        netbanking:
          "$ref": "#/components/schemas/Netbanking"
      required:
      - netbanking
    Netbanking:
      title: Netbanking
      example:
        channel: link
        netbanking_bank_code: 3022
      type: object
      properties:
        channel:
          type: string
          description: The channel for netbanking will always be `link`
        netbanking_bank_code:
          type: integer
          format: int32
          description: Bank code
      required:
      - channel
      - netbanking_bank_code
    CardlessEMIPaymentMethod:
      title: CardlessEMIPaymentMethod
      example:
        channel: link
        provider: flexmoney
        phone: 781234121
      type: object
      properties:
        cardless_emi:
          "$ref": "#/components/schemas/CardlessEMI"
      required:
      - cardless_emi
    CardlessEMI:
      title: CardlessEMI
      example:
        channel: link
        provider: kotak
        phone: 7768913241
        emi_tenure: 3
      type: object
      properties:
        channel:
          type: string
          description: The channel for cardless EMI is always `link`
        provider:
          type: string
          enum:
          - flexmoney
          - zestmoney
          - hdfc
          - icici
          - cashe
          - idfc
          - kotak
          description: One of [`flexmoney`, `zestmoney`, `hdfc`, `icici`, `cashe`,
            `idfc`, `kotak`]
        phone:
          type: string
          description: Customers phone number for this payment instrument. If the
            customer is not eligible you will receive a 400 error with type as 'invalid_request_error'
            and code as 'invalid_request_error'
        emi_tenure:
          type: integer
          description: EMI tenure for the selected provider. This is mandatory when
            provider is one of [`hdfc`, `icici`, `cashe`, `idfc`, `kotak`]
    PaylaterPaymentMethod:
      title: PaylaterPaymentMethod
      example:
        channel: link
        provider: lazypay
        phone: 781234121
      type: object
      properties:
        paylater:
          "$ref": "#/components/schemas/Paylater"
      required:
      - paylater
    Paylater:
      title: Paylater
      example:
        channel: link
        provider: kotak
        phone: 7789112345
      type: object
      properties:
        channel:
          type: string
          description: The channel for cardless EMI is always `link`
        provider:
          type: string
          enum:
          - kotak
          - flexipay
          - zestmoney
          - lazypay
          - olapostpaid
          - simpl
          - freechargepaylater
          description: One of ["kotak", "flexipay", "zestmoney", "lazypay", "olapostpaid","simpl",
            "freechargepaylater"]. Please note that Flexipay is offered by HDFC bank
        phone:
          type: string
          description: Customers phone number for this payment instrument. If the
            customer is not eligible you will receive a 400 error with type as 'invalid_request_error'
            and code as 'invalid_request_error'
    CardPaymentMethod:
      title: CardPaymentMethod
      description: 'The card payment object is used to make payment using either plain
        card number, saved card instrument id or using cryptogram '
      example:
        card:
          channel: link
          card_number: '4111111111111111'
          card_holder_name: Tushar Gupta
          card_expiry_mm: '06'
          card_expiry_yy: '22'
          card_cvv: '900'
      type: object
      properties:
        card:
          "$ref": "#/components/schemas/Card"
      required:
      - card
    CardEMIPaymentMethod:
      title: CardEMIPaymentMethod
      example:
        emi:
          channel: link
          card_number: '4111111111111111'
          card_holder_name: Tushar Gupta
          card_expiry_mm: '06'
          card_expiry_yy: '22'
          card_cvv: '900'
          card_bank_name: kotak
          emi_tenure: 3
      type: object
      properties:
        emi:
          "$ref": "#/components/schemas/CardEMI"
      required:
      - card
    CardEMI:
      title: CardEMI
      example:
        channel: link
        card_number: '4111111111111111'
        card_holder_name: Tushar Gupta
        card_expiry_mm: '06'
        card_expiry_yy: '22'
        card_cvv: '900'
      type: object
      properties:
        channel:
          type: string
          description: The channel for card payments will always be "link"
        card_number:
          type: string
          description: Customer card number.
        card_holder_name:
          type: string
          description: Customer name mentioned on the card.
        card_expiry_mm:
          type: string
          description: Card expiry month.
        card_expiry_yy:
          type: string
          description: Card expiry year.
        card_cvv:
          type: string
          description: CVV mentioned on the card.
        card_alias:
          type: string
          description: Card alias as returned by Cashfree Vault API
        card_bank_name:
          type: string
          enum:
          - hdfc
          - kotak
          - icici
          - rbl
          - bob
          - standard chartered
          - axis
          - au
          - 'yes'
          - sbi
          - fed
          - hsbc
          - citi
          - amex
          description: Card bank name, required for EMI payments. This is the bank
            user has selected for EMI. One of ["hdfc, "kotak", "icici", "rbl", "bob",
            "standard chartered", "axis", "au", "yes", "sbi", "fed", "hsbc", "citi",
            "amex"]
        emi_tenure:
          type: integer
          description: EMI tenure selected by the user
          required:
          - channel
          - card_number
          - card_expiry_mm
          - card_expiry_yy
          - card_cvv
          - card_bank_name
          - emi_tenure
    Card:
      title: Card
      example:
        channel: link
        card_number: '4111111111111111'
        card_holder_name: Tushar Gupta
        card_expiry_mm: '06'
        card_expiry_yy: '22'
        card_cvv: '900'
      type: object
      properties:
        channel:
          type: string
          enum:
          - link
          - post
          description: The channel for card payments can be "link" or "post". Post
            is used for seamless OTP payments where merchant captures OTP on their
            own page.
        card_number:
          type: string
          description: Customer card number for plain card transactions. Token pan
            number for tokenized card transactions.
        card_holder_name:
          type: string
          description: Customer name mentioned on the card.
        card_expiry_mm:
          type: string
          description: Card expiry month for plain card transactions. Token expiry
            month for tokenized card transactions.
        card_expiry_yy:
          type: string
          description: Card expiry year for plain card transactions. Token expiry
            year for tokenized card transactions.
        card_cvv:
          type: string
          description: CVV mentioned on the card.
        instrument_id:
          type: string
          description: instrument id of saved card. Required only to make payment
            using saved instrument.
        cryptogram:
          type: string
          description: cryptogram received from card network. Required only for tokenized
            card transactions.
        token_requestor_id:
          type: string
          description: TRID issued by card networks. Required only for tokenized card
            transactions.
        card_display:
          type: string
          description: last 4 digits of original card number. Required only for tokenized
            card transactions.
        card_alias:
          type: string
          description: Card alias as returned by Cashfree Vault API.
        card_bank_name:
          type: string
          enum:
          - Kotak
          - ICICI
          - RBL
          - BOB
          - Standard Chartered
          description: One of ["Kotak", "ICICI", "RBL", "BOB", "Standard Chartered"].
            Card bank name, required for EMI payments. This is the bank user has selected
            for EMI
        emi_tenure:
          type: integer
          description: EMI tenure selected by the user
          required:
          - channel
          - card_number
          - card_expiry_mm
          - card_expiry_yy
          - card_cvv
    OrderPayResponse:
      title: OrderPayResponse
      type: object
      example:
        payment_method: card
        channel: link
        action: link
        cf_payment_id: 91235
        data:
          url: https://sandbox.cashfree.com/pg/view/gateway/FHsuvhayLM5mmhINoqri7ba296e2ebca8b98e6119f6223021a13
          payload:
          content_type:
          method:
      properties:
        cf_payment_id:
          type: integer
          description: Payment identifier created by Cashfree
        payment_method:
          type: string
          enum:
          - netbanking
          - card
          - upi
          - app
          - cardless_emi
          - paylater
          description: 'One of ["upi", "netbanking", "card", "app", "cardless_emi",
            "paylater"] '
        channel:
          type: string
          enum:
          - link
          - collect
          - qrcode
          description: One of ["link", "collect", "qrcode"]. In an older version we
            used to support different channels like 'gpay', 'phonepe' etc. However,
            we now support only the following channels - link, collect and qrcode.
            To process payments using gpay, you will have to provide channel as 'link'
            and provider as 'gpay'
        action:
          type: string
          enum:
          - link
          - custom
          - form
          description: One of ["link", "custom", "form"]
          nullable: true
        data:
          "$ref": "#/components/schemas/OrderPayData"
    OrderPayData:
      title: OrderPayData
      type: object
      example:
        url: https://hdfcbank.com/sendTo/897?q
        payload:
          MD: 89811231231
          PaReq: 89123l1j2l3j1ljkkl=
        content_type: application/x-www-form-encoded
        method: post
      properties:
        url:
          type: string
          nullable: true
        payload:
          nullable: true
          type: object
        content_type:
          type: string
        method:
          type: string
    FetchSettlementReconRequest:
      type: object
      example:
        pagination:
          limit: 10
          cursor: eyJzZWFyY2hBZnRlciI6eyJsaXN0IjpbMTg4NjcxNDVdLCJlbXB0eSI6ZmFsc2V9LCJyZWNvbkFQSVR5cGUiOiJMRURHRVIifQ==
        filters:
          cf_settlement_ids:
          - 4234233
          settlement_utrs:
          - utr1
          - utr2
          start_date: '2022-07-20T00:00:00Z'
          end_date: '2022-07-21T23:59:59Z'
      properties:
        pagination:
          type: object
          properties:
            limit:
              type: integer
              description: The number of settlements you want to fetch. Maximum limit
                is 1000, default value is 10.
            cursor:
              type: string
              description: Specifies from where the next set of settlement details
                should be fetched.
          description: "To fetch the next set of settlements, pass the cursor received
            in the response to the next API call. \n To receive the data for the first
            time, pass the cursor as null. \n Limit would be number of settlements
            that you want to receive."
          required:
          - limit
        filters:
          type: object
          properties:
            cf_settlement_ids:
              type: array
              items:
                type: integer
              description: List of settlement IDs for which you want the settlement
                reconciliation details.
            settlement_utrs:
              type: array
              items:
                type: string
              description: List of settlement UTRs for which you want the settlement
                reconciliation details.
            start_date:
              type: string
              description: Specify the start date from when you want the settlement
                reconciliation details.
            end_date:
              type: string
              description: Specify the end date till when you want the settlement
                reconciliation details.
          description: Specify either the Settlement ID, Settlement UTR, or start
            date and end date to fetch the settlement details.
      required:
      - pagination
      - filters
    FetchPGReconRequest:
      type: object
      example:
        pagination:
          limit: 10
          cursor: eyJzZWFyY2hBZnRlciI6eyJsaXN0IjpbMTg4NjcxNDVdLCJlbXB0eSI6ZmFsc2V9LCJyZWNvbkFQSVR5cGUiOiJMRURHRVIifQ==
        filters:
          start_date: '2022-07-20T00:00:00Z'
          end_date: '2022-07-21T23:59:59Z'
      properties:
        pagination:
          type: object
          properties:
            limit:
              type: integer
              description: Number of settlements you want to fetch in the next iteration.
                Maximum limit is 1000, default value is 10.
            cursor:
              type: string
              description: Specifies from where the next set of settlement details
                should be fetched.
          description: "To fetch the next set of settlements, pass the cursor received
            in the response to the next API call. \n To receive the data for the first
            time, pass the cursor as null. \n Limit would be number of settlements
            that you want to receive."
          required:
          - limit
        filters:
          type: object
          properties:
            start_date:
              type: string
              description: Specify the start date from when you want the settlement
                reconciliation details.
            end_date:
              type: string
              description: Specify the end date till when you want the settlement
                reconciliation details.
          required:
          - start_date
          - end_date
      required:
      - pagination
      - filters
    CreateOrderBackendRequest:
      title: CreateOrderBackendRequest
      type: object
      properties:
        order_id:
          type: string
          description: Order identifier present in your system. Alphanumeric and only
            - and _ allowed.
          minLength: 3
          maxLength: 45
        order_amount:
          type: number
          description: Bill amount for the order. Provide upto two decimals. 10.15
            means Rs 10 and 15 paisa
          format: double
          example: 10.15
        order_currency:
          type: string
          description: 'Currency for the order. INR if left empty. Contact care@cashfree.com
            to enable new currencies. '
          example: INR
        customer_details:
          "$ref": "#/components/schemas/CustomerDetails"
        terminal:
          "$ref": "#/components/schemas/TerminalDetails"
        order_meta:
          "$ref": "#/components/schemas/OrderMeta"
        order_expiry_time:
          type: string
          description: Time after which the order expires. Customers will not be able
            to make the payment beyond the time specified here. We store timestamps
            in IST, but you can provide them in a valid ISO 8601 time format.
          example: '2021-07-29T00:00:00Z'
        order_note:
          type: string
          description: Order note for reference.
          example: Test order
          minLength: 3
          maxLength: 200
        order_tags:
          type: object
          description: Custom Tags which can be passed for an order. A maximum of
            6 tags can be added
          additionalProperties:
            type: string
            minLength: 3
            maxLength: 255
        order_splits:
          type: array
          items:
            "$ref": "#/components/schemas/VendorSplit"
      required:
      - order_amount
      - order_currency
      - customer_details
    CreateOfferBackendRequest:
      title: CreateOfferBackendRequest
      type: object
      properties:
        offer_meta:
          "$ref": "#/components/schemas/OfferMeta"
        offer_tnc:
          "$ref": "#/components/schemas/OfferTnc"
        offer_details:
          "$ref": "#/components/schemas/OfferDetails"
        offer_validations:
          "$ref": "#/components/schemas/OfferValidations"
      required:
      - offer_meta
      - offer_tnc
      - offer_details
      - offer_validations
    EligibilityOffersRequest:
      title: EligibilityOffersRequest
      type: object
      properties:
        queries:
          "$ref": "#/components/schemas/OfferQueries"
        filters:
          "$ref": "#/components/schemas/OfferFilters"
      required:
      - queries
    OfferQueries:
      title: OfferQueries
      type: object
      properties:
        order_id:
          type: string
          description: OrderId of the order. Either of `order_id` or `order_amount`
            is mandatory.
          minLength: 3
          maxLength: 50
          format: double
          example: order_413462PK1RI1IwYB1X69LgzUQWiSxYDF
        amount:
          type: number
          description: Amount of the order. OrderId of the order. Either of `order_id`
            or `order_amount` is mandatory.
          minLength: 3
          maxLength: 100
          example: 100
    OfferFilters:
      title: OfferFilters
      type: object
      properties:
        offer_type:
          type: array
          description: Array of offer_type to be filtered.
          items:
            "$ref": "#/components/schemas/OfferType"
    OfferType:
      title: OfferType
      type: string
      enum:
      - DISCOUNT
      - CASHBACK
      - DISCOUNT_AND_CASHBACK
      - NO_COST_EMI
    EligibleOffersEntity:
      title: EligibleOffersEntity
      type: object
      properties:
        eligibility:
          type: string
          example: true
        entity_type:
          type: string
          example: offers
        entity_value:
          type: string
          example: d2b430fb-1afe-455a-af31-66d00377b29a
        entity_details:
          "$ref": "#/components/schemas/OfferEntity"
    EligibleCardlessEMIEntity:
      title: EligibleCardlessEMIEntity
      type: object
      properties:
        eligibility:
          type: string
          example: true
        entity_type:
          type: string
          example: cardlessemi
        entity_value:
          type: string
          example: idfc
        entity_details:
          "$ref": "#/components/schemas/CardlessEMIEntity"
    EligiblePaylater:
      title: EligiblePaylater
      type: object
      properties:
        eligibility:
          type: string
          example: true
        entity_type:
          type: string
          example: paylater
        entity_value:
          type: string
          example: olapostpaid
        entity_details:
          "$ref": "#/components/schemas/PaylaterEntity"
    PaylaterEntity:
      title: PaylaterEntity
      type: object
      properties:
        payment_method:
          type: string
          example: olapostpaid
    CardlessEMIEntity:
      title: CardlessEMIEntity
      type: object
      properties:
        payment_method:
          type: string
          minLength: 3
          maxLength: 50
          example: idfc
        emi_plans:
          type: array
          items:
            "$ref": "#/components/schemas/EMIPlansArray"
    EMIPlansArray:
      title: EMIPlansArray
      type: object
      properties:
        tenure:
          type: integer
          example: 3
        interest_rate:
          type: integer
          example: 24
        currency:
          type: string
          minLength: 3
          maxLength: 50
          example: INR
        emi:
          type: integer
          example: 3468
        total_interest:
          type: integer
          example: 404
        total_amount:
          type: integer
          example: 10404
    OfferMeta:
      title: OfferMeta
      type: object
      properties:
        offer_title:
          type: string
          description: Title for the Offer.
          minLength: 3
          maxLength: 50
          example: Test Offer
        offer_description:
          type: string
          description: Description for the Offer.
          minLength: 3
          maxLength: 100
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit
        offer_code:
          type: string
          description: Unique identifier for the Offer.
          minLength: 10
          maxLength: 10
          example: CFTESTOFFER
        offer_start_time:
          type: string
          description: Start Time for the Offer
          minLength: 3
          maxLength: 20
          example: '2023-03-21T08:09:51Z'
        offer_end_time:
          type: string
          description: Expiry Time for the Offer
          example: '2023-03-29T08:09:51Z'
      required:
      - offer_title
      - offer_description
      - offer_code
      - offer_start_time
      - offer_end_time
    OfferValidations:
      title: OfferValidations
      type: object
      properties:
        min_amount:
          type: string
          description: Minimum Amount for Offer to be Applicable
          minLength: 3
          maxLength: 50
          example: '1'
        payment_method:
          oneOf:
          - "$ref": "#/components/schemas/OfferAll"
          - "$ref": "#/components/schemas/OfferCard"
          - "$ref": "#/components/schemas/OfferNB"
          - "$ref": "#/components/schemas/OfferWallet"
          - "$ref": "#/components/schemas/OfferUPI"
          - "$ref": "#/components/schemas/OfferPaylater"
          - "$ref": "#/components/schemas/OfferEMI"
        max_allowed:
          type: string
          description: Maximum amount of Offer that can be availed.
          minLength: 3
          maxLength: 100
          example: '10'
      required:
      - max_allowed
      - payment_method
    OfferAll:
      title: All Offers
      example:
        all: {}
      type: object
      properties:
        all:
          "$ref": "#/components/schemas/All"
      required:
      - all
    All:
      title: All Offers
      type: object
    OfferCard:
      title: Card Offer
      example:
        card:
          type: cc
          bank_name: hdfc bank
          scheme_name: visa
      type: object
      properties:
        card:
          "$ref": "#/components/schemas/CardOffer"
      required:
      - card
    CardOffer:
      title: Card Offer
      type: object
      properties:
        type:
          type: array
          items:
            "$ref": "#/components/schemas/CardArray"
        bank_name:
          type: string
          description: Bank Name of Card.
          minLength: 3
          maxLength: 100
          example: hdfc bank
        scheme_name:
          type: array
          items:
            "$ref": "#/components/schemas/SchemeArray"
      required:
      - type
      - bank_name
      - scheme_name
    CardArray:
      title: card array
      type: string
      example: dc
    SchemeArray:
      title: Scheme array
      type: string
      example: visa
    OfferEMI:
      title: EMI Offer
      type: object
      properties:
        emi:
          "$ref": "#/components/schemas/EMIOffer"
      required:
      - emi
    EMIOffer:
      title: EMI Offer
      type: object
      properties:
        type:
          type: string
          description: Type of emi offer. Possible values are `credit_card_emi`, `debit_card_emi`,
            `cardless_emi`
          minLength: 3
          maxLength: 100
          example: cardless_emi
        bank_name:
          type: string
          description: Bank Name
          minLength: 3
          maxLength: 100
          example: hdfc bank
        tenures:
          type: array
          items:
            "$ref": "#/components/schemas/TenuresArray"
      required:
      - type
      - bank_name
      - scheme_name
    TenuresArray:
      title: Tenure Array
      type: integer
      example: 3
    OfferNB:
      title: Net Banking Offer
      example:
        netbanking:
          bank_name: hdfc bank
      type: object
      properties:
        netbanking:
          "$ref": "#/components/schemas/NBOffer"
      required:
      - net_banking
    NBOffer:
      title: Net Banking Offer
      type: object
      properties:
        bank_name:
          type: string
          example: all
      required:
      - bank_name
    OfferWallet:
      title: Wallet Offer
      example:
        wallet:
          issuer: paytm
      type: object
      properties:
        app:
          "$ref": "#/components/schemas/WalletOffer"
      required:
      - wallet
    WalletOffer:
      title: Wallet Offer
      type: object
      properties:
        provider:
          type: string
          example: paytm
    OfferPaylater:
      title: Paylater Offer
      example:
        paylater:
          issuer: lazypay
      type: object
      properties:
        paylater:
          "$ref": "#/components/schemas/PaylaterOffer"
      required:
      - paylater
    PaylaterOffer:
      title: Paylater Offer
      type: object
      properties:
        provider:
          type: string
          example: simpl
    OfferUPI:
      title: UPI Offer
      example:
        upi: {}
      type: object
      properties:
        upi:
          "$ref": "#/components/schemas/UPIOffer"
      required:
      - upi
    UPIOffer:
      title: UPI Offer
      type: object
    OfferTnc:
      title: OfferMeta
      type: object
      properties:
        offer_tnc_type:
          type: string
          description: TnC Type for the Offer. It can be either `text` or `link`
          enum:
          - link
          - post
          minLength: 3
          maxLength: 50
          example: text
        offer_tnc_value:
          type: string
          description: TnC for the Offer.
          minLength: 3
          maxLength: 100
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit
      required:
      - offer_tnc_type
      - offer_tnc_value
    OfferDetails:
      title: OfferDetails
      type: object
      properties:
        offer_type:
          type: string
          description: Offer Type for the Offer.
          enum:
          - DISCOUNT
          - CASHBACK
          - DISCOUNT_AND_CASHBACK
          - NO_COST_EMI
          minLength: 3
          maxLength: 50
          example: DISCOUNT_AND_CASHBACK
        discount_details:
          "$ref": "#/components/schemas/DiscountDetails"
        cashback_details:
          "$ref": "#/components/schemas/CashbackDetails"
      required:
      - offer_type
    DiscountDetails:
      title: DiscountDetails
      example:
        discount_type: flat
        discount_value: '10'
        max_discount_amount: '10'
      type: object
      properties:
        discount_type:
          type: string
          description: Type of discount
          enum:
          - flat
          - percentage
          minLength: 3
          maxLength: 50
        discount_value:
          type: string
          description: Value of Discount.
          minLength: 3
          maxLength: 100
        max_discount_amount:
          type: string
          description: Maximum Value of Discount allowed.
          minLength: 3
          maxLength: 100
      required:
      - discount_type
      - discount_value
      - max_discount_amount
    CashbackDetails:
      title: CashbackDetails
      example:
        cashback_type: percentage
        cashback_value: '20'
        max_cashback_amount: '150'
      type: object
      properties:
        cashback_type:
          type: string
          description: Type of discount
          enum:
          - flat
          - percentage
          minLength: 3
          maxLength: 50
        cashback_value:
          type: string
          description: Value of Discount.
          minLength: 3
          maxLength: 100
        max_cashback_amount:
          type: string
          description: Maximum Value of Cashback allowed.
          minLength: 3
          maxLength: 100
      required:
      - discount_type
      - discount_value
      - max_cashback_amount
    EligibilityCardlessEMIRequest:
      title: EligibilityCardlessEMIRequest
      type: object
      properties:
        queries:
          "$ref": "#/components/schemas/CardlessEMIQueries"
      required:
      - queries
    CardlessEMIQueries:
      title: QueriesObject
      type: object
      properties:
        order_id:
          type: string
          description: OrderId of the order. Either of `order_id` or `amount` is mandatory.
          minLength: 3
          maxLength: 50
          format: double
          example: order_413462PK1RI1IwYB1X69LgzUQWiSxYDF
        amount:
          type: number
          description: Amount of the order. OrderId of the order. Either of `order_id`
            or `amount` is mandatory.
          minLength: 3
          maxLength: 100
          example: 100
        customer_details:
          "$ref": "#/components/schemas/CustomerDetailsCardlessEMI"
    CustomerDetailsCardlessEMI:
      title: CustomerDetailsObject
      description: Details of the customer for whom eligibility is being checked.
      type: object
      properties:
        customer_phone:
          type: string
          description: Phone Number of the customer
          minLength: 3
          maxLength: 50
          example: '9898989898'
      required:
      - customer_phone
    VendorSplit:
      title: VendorSplit
      type: object
      example:
        vendor_id: Vendor01
        amount: '100.1'
      properties:
        vendor_id:
          type: string
          description: Vendor id created in Cashfree system
        amount:
          type: number
          description: Amount which will be associated with this vendor
        percentage:
          type: number
          description: Percentage of order amount which shall get added to vendor
            account
    RefundSpeed:
      title: RefundSpeed
      type: object
      example:
        requested: STANDARD
        accepted: STANDARD
        processed: STANDARD
        message: Error message, if any
      properties:
        requested:
          type: string
          description: Requested speed of refund.
        accepted:
          type: string
          description: Accepted speed of refund.
        processed:
          type: string
          description: Processed speed of refund.
        message:
          type: string
          description: Error message, if any for refund_speed request
    CustomerDetails:
      title: CustomerDetails
      description: The customer details that are necessary. Note that you can pass
        dummy details if your use case does not require the customer details.
      example:
        customer_id: 7112AAA812234
        customer_email: john@cashfree.com
        customer_phone: '9908734801'
        customer_bank_account_number: '1518121112'
        customer_bank_ifsc: CITI0000001
        customer_bank_code: 3333
      type: object
      properties:
        customer_id:
          type: string
          description: A unique identifier for the customer. Use alphanumeric values
            only.
          minLength: 3
          maxLength: 50
        customer_email:
          type: string
          description: Customer email address.
          minLength: 3
          maxLength: 100
        customer_phone:
          type: string
          description: Customer phone number.
          minLength: 10
          maxLength: 10
        customer_bank_account_number:
          type: string
          description: Customer bank account. Required if you want to do a bank account
            check (TPV)
          minLength: 3
          maxLength: 20
        customer_bank_ifsc:
          type: string
          description: Customer bank IFSC. Required if you want to do a bank account
            check (TPV)
        customer_bank_code:
          type: string
          description: Customer bank code. Required for net banking payments, if you
            want to do a bank account check (TPV)
      required:
      - customer_id
      - customer_phone
    TerminalDetails:
      title: Terminal
      example:
        terminal_phone_no: 6309291183
        terminal_id: 1
        terminal_type: SPOS
      type: object
      properties:
        terminal_phone_no:
          type: string
          description: Phone no assigned to the terminal
          minLength: 10
          maxLength: 10
        terminal_id:
          type: string
          description: The internal id that you use to map the terminal in your internal
            system
          minLength: 3
          maxLength: 100
        terminal_type:
          type: string
          description: To identify the type of terminal product in use, in this case
            it is SPOS
          minLength: 4
          maxLength: 10
      required:
      - terminal_phone_no
      - terminal_id
      - terminal_type
    OrderMeta:
      title: OrderMeta
      example:
        return_url: https://b8af79f41056.eu.ngrok.io?order_id={order_id}
        notify_url: https://b8af79f41056.eu.ngrok.io/webhook.php
      type: object
      properties:
        return_url:
          type: string
          description: 'The URL to which user will be redirected to after the payment
            on bank OTP page. Maximum length: 250. The return_url must contain placeholder
            {order_id}. When redirecting the customer back to the return url from
            the bank’s OTP page, Cashfree will replace this placeholder with the actual
            value for that order.'
        notify_url:
          type: string
          description: 'Notification URL for server-server communication. Useful when
            user''s connection drops while re-directing. NotifyUrl should be an https
            URL. Maximum length: 250.'
        payment_methods:
          type: string
          description: Allowed payment modes for this order. Pass comma-separated
            values among following options - "cc", "dc", "ccc", "ppc","nb","upi","paypal","app","paylater","cardlessemi","dcemi","ccemi","banktransfer".
            Leave it blank to show all available payment methods
    SettlementURLObject:
      title: SettlementURLObject
      type: object
      properties:
        url:
          type: string
          example: https://sandbox.cashfree.com/pg/orders/order_271vovQ3PTZAx3fDI0xtZbC4jkPET/settlements
    RefundURLObject:
      title: RefundURLObject
      type: object
      properties:
        url:
          type: string
          example: https://sandbox.cashfree.com/pg/orders/order_271vovQ3PTZAx3fDI0xtZbC4jkPET/refunds
    PaymentURLObject:
      title: PaymentURLObject
      type: object
      properties:
        url:
          type: string
          example: https://sandbox.cashfree.com/pg/orders/order_271vovQ3PTZAx3fDI0xtZbC4jkPET/payments
    OrdersEntity:
      title: OrdersEntity
      type: object
      example:
        cf_order_id: 1553338
        order_id: order_271vovQ3PTZAx3fDI0
        entity: order
        order_currency: INR
        order_amount: 10.12
        order_status: ACTIVE
        payment_session_id: session_o5qs6YnOlCl_KXfv0cNODaffja-Eec2huS-fhlwavNXjy2quOr3C8CBm1dkCJrfui4Cn2SD4sLAE7M3MuoQDjtQs3Divf7F8WI4x6EL7kA5g
        order_note: 'order #145'
        order_expiry_time: '2021-07-29T05:30:00+05:30'
      properties:
        cf_order_id:
          type: integer
        order_id:
          type: string
        entity:
          type: string
        order_currency:
          type: string
        order_amount:
          type: number
        order_status:
          type: string
        payment_session_id:
          type: string
        order_expiry_time:
          type: string
        order_note:
          type: string
        customer_details:
          "$ref": "#/components/schemas/CustomerDetails"
        order_meta:
          "$ref": "#/components/schemas/OrderMeta"
        payments:
          "$ref": "#/components/schemas/PaymentURLObject"
        settlements:
          "$ref": "#/components/schemas/SettlementURLObject"
        refunds:
          "$ref": "#/components/schemas/RefundURLObject"
    OfferEntity:
      title: OfferEntity
      type: object
      properties:
        offer_id:
          type: integer
          example: d2b430fb-1afe-455a-af31-66d00377b29a
        offer_status:
          type: string
          example: active
        offer_meta:
          "$ref": "#/components/schemas/OfferMeta"
        offer_tnc:
          "$ref": "#/components/schemas/OfferTnc"
        offer_details:
          "$ref": "#/components/schemas/OfferDetails"
        offer_validations:
          "$ref": "#/components/schemas/OfferValidations"
    RefundsEntity:
      title: RefundsEntity
      type: object
      example:
        cf_payment_id: 918812
        cf_refund_id: refund_1553338
        refund_id: REF-123
        order_id: c6G-QMcbm1848
        entity: refund
        refund_amount: 100.81
        refund_currency: INR
        refund_note: 'Refund for order #123'
        refund_status: SUCCESS
        refund_type: MERCHANT_INITIATED
        refund_splits: []
        status_description: In Progress
        refund_arn: RF12312
        metadata:
        created_at: '2021-07-25T08:57:52+05:30'
        processed_at: '2021-07-25T12:57:52+05:30'
        refund_charge: 0
        refund_mode: STANDARD
      properties:
        cf_payment_id:
          type: integer
          description: Cashfree Payments ID of the payment for which refund is initiated
        cf_refund_id:
          type: string
          description: Cashfree Payments ID for a refund
        order_id:
          type: string
          description: Merchant’s order Id of the order for which refund is initiated
        refund_id:
          type: string
          description: Merchant’s refund ID of the refund
        entity:
          type: string
          enum:
          - refund
          description: Type of object
        refund_amount:
          type: number
          description: Amount that is refunded
        refund_currency:
          type: string
          description: Currency of the refund amount
        refund_note:
          type: string
          description: Note added by merchant for the refund
        refund_status:
          type: string
          enum:
          - SUCCESS
          - PENDING
          - CANCELLED
          - ONHOLD
          description: This can be one of ["SUCCESS", "PENDING", "CANCELLED", "ONHOLD",
            "FAILED"]
        refund_arn:
          type: string
          description: The bank reference number for refund
        refund_charge:
          type: number
          description: Charges in INR for processing refund
        status_description:
          type: string
          description: Description of refund status
        metadata:
          type: object
          description: Key-value pair that can be used to store additional information
            about the entity. Maximum 5 key-value pairs
        refund_splits:
          type: array
          items:
            "$ref": "#/components/schemas/VendorSplit"
            description: Refund split details
        refund_type:
          type: string
          enum:
          - PAYMENT_AUTO_REFUND
          - MERCHANT_INITIATED
          - UNRECONCILED_AUTO_REFUND
          description: This can be one of ["PAYMENT_AUTO_REFUND", "MERCHANT_INITIATED",
            "UNRECONCILED_AUTO_REFUND"]
        refund_mode:
          type: string
          enum:
          - STANDARD
          - INSTANT
          description: Method or speed of processing refund
        created_at:
          type: string
          description: Time of refund creation
        processed_at:
          type: string
          description: Time when refund was processed successfully
        refund_speed:
          type: object
          "$ref": "#/components/schemas/RefundSpeed"
    SettlementsEntity:
      title: SettlementsEntity
      type: object
      example:
        cf_payment_id: 553338
        order_id: order-12-127
        entity: settlement
        order_amount: 100
        payment_time: '2021-07-13T13:13:59+05:30'
        service_charge: 10
        service_tax: 1.8
        settlement_amount: 88.2
        cf_settlement_id: 6121238
        transfer_id: 238
        transfer_time: '2021-07-25T12:57:52+05:30'
        transfer_utr: N87912312
        order_currency: INR
        settlement_currency: INR
      properties:
        cf_payment_id:
          type: string
        cf_settlement_id:
          type: string
        settlement_currency:
          type: string
        order_id:
          type: string
        entity:
          type: string
        order_amount:
          type: number
        payment_time:
          type: string
        service_charge:
          type: number
        service_tax:
          type: number
        settlement_amount:
          type: number
        settlement_id:
          type: integer
        transfer_id:
          type: integer
        transfer_time:
          type: string
        transfer_utr:
          type: string
    PaymentsEntity:
      title: PaymentsEntity
      type: object
      example:
        cf_payment_id: 12376123
        order_id: order_8123
        entity: payment
        payment_currency: INR
        order_amount: 10.01
        is_captured: true
        payment_group: upi
        authorization:
        payment_method:
          upi:
            channel: collect
            upi_id: rohit@icici
        payment_amount: 10.01
        payment_time: '2021-07-23T12:15:06+05:30'
        payment_completion_time: '2021-07-23T12:18:59+05:30'
        payment_status: SUCCESS
        payment_message: Transaction successful
        bank_reference: P78112898712
        auth_id: A898101
      properties:
        cf_payment_id:
          type: integer
        order_id:
          type: string
        entity:
          type: string
        error_details:
          "$ref": "#/components/schemas/ErrorDetailsInPaymentsEntity"
        is_captured:
          type: boolean
        order_amount:
          type: number
          description: Order amount can be different from payment amount if you collect
            service fee from the customer
        payment_group:
          type: string
          description: Type of payment group. One of ['upi', 'card', 'app', 'netbanking',
            'paylater', 'cardless_emi']
        payment_currency:
          type: string
        payment_amount:
          type: number
        payment_time:
          type: string
          description: This is the time when the payment was initiated
        payment_completion_time:
          type: string
          description: This is the time when the payment reaches its terminal state
        payment_status:
          type: string
          enum:
          - SUCCESS
          - NOT_ATTEMPTED
          - FAILED
          - USER_DROPPED
          - VOID
          - CANCELLED
          - PENDING
          description: The transaction status can be one of  ["SUCCESS", "NOT_ATTEMPTED",
            "FAILED", "USER_DROPPED", "VOID", "CANCELLED", "PENDING"]
        payment_message:
          type: string
        bank_reference:
          type: string
        auth_id:
          type: string
        authorization:
          "$ref": "#/components/schemas/AuthorizationInPaymentsEntity"
        payment_method:
          "$ref": "#/components/schemas/PaymentMethodInPaymentsEntity"
    ErrorDetailsInPaymentsEntity:
      title: ErrorDetailsInPayments
      description: The error details are present only for failed payments
      example:
        error_code: TRANSACTION_DECLINED
        error_description: issuer bank or payment service provider declined the transaction
        error_reason: auth_declined
        error_source: customer
      type: object
      properties:
        error_code:
          type: string
        error_description:
          type: string
        error_reason:
          type: string
        error_source:
          type: string
    AuthorizationInPaymentsEntity:
      title: AuthorizationInPayments
      description: The authorization details are present for payments which go through
        the preauthorization workflow. Or else this parameter will be null.
      example:
        action: CAPTURE
        status: PENDING
        captured_amount: 100
        start_time: '2022-02-09T18:04:34+05:30'
        end_time: '2022-02-19T18:04:34+05:30'
        approve_by: '2022-02-09T18:04:34+05:30'
        action_reference: '6595231908096894505959'
        action_time: '2022-08-03T16:09:51'
      type: object
      properties:
        action:
          type: string
          enum:
          - CAPTURE
          - VOID
          description: One of CAPTURE or VOID
        status:
          type: string
          enum:
          - SUCCESS
          - PENDING
          description: One of SUCCESS or PENDING
        captured_amount:
          type: number
          description: The captured amount for this authorization request
        start_time:
          type: string
          description: Start time of this authorization hold (only for UPI)
        end_time:
          type: string
          description: End time of this authorization hold (only for UPI)
        approve_by:
          type: string
          description: Approve by time as passed in the authorization request (only
            for UPI)
        action_reference:
          type: string
          description: 'CAPTURE or VOID reference number based on action '
        action_time:
          type: string
          description: Time of action (CAPTURE or VOID)
    OTPResponseEntity:
      title: OTP Response Entity
      description: This is the response shared when merchant inovkes the OTP submit
        or resend API
      example:
        cf_payment_id: 975654863
        authenticate_status: FAILED
        action: SUBMIT_OTP
        payment_message: otp is invalid
      properties:
        cf_payment_id:
          type: number
          description: The payment id for which this request was sent
        action:
          type: string
          enum:
          - SUBMIT_OTP
          - RESEND_OTP
          description: The action that was invoked for this request.
        authenticate_status:
          type: string
          enum:
          - FAILED
          - SUCCESS
          description: Status of the is action. Will be either failed or successful.
            If the action is successful, you should still call the authorization status
            to verify the final payment status.
        payment_message:
          type: string
          description: Human readable message which describes the status in more detail
    PaymentMethodInPaymentsEntity:
      title: PaymentMethodInPaymentsEntity
      properties:
        payment_method:
          oneOf:
          - "$ref": "#/components/schemas/PaymentMethodCardInPaymentsEntity"
          - "$ref": "#/components/schemas/PaymentMethodNetBankingInPaymentsEntity"
          - "$ref": "#/components/schemas/PaymentMethodUPIInPaymentsEntity"
          - "$ref": "#/components/schemas/PaymentMethodAppInPaymentsEntity"
          - "$ref": "#/components/schemas/PaymentMethodCardlessEMIInPaymentsEntity"
          - "$ref": "#/components/schemas/PaymentMethodPaylaterInPaymentsEntity"
    PaymentMethodCardInPaymentsEntity:
      title: PaymentMethodCardInPaymentsEntity
      example:
        channel: link
        card_number: 41111xxxxxx111
        card_network: visa
        card_type: credit_card
        card_country: IN
        card_bank_name: HDFC Bank
        card_network_reference_id: 1.002120230612e+29
      type: object
      properties:
        channel:
          type: string
        card_number:
          type: string
        card_network:
          type: string
        card_type:
          type: string
        card_country:
          type: string
        card_bank_name:
          type: string
        card_network_reference_id:
          type: string
    PaymentMethodNetBankingInPaymentsEntity:
      title: PaymentMethodNetBankingInPaymentsEntity
      example:
        channel: link
        netbanking_bank_code: 3044
        netbanking_bank_name: State Bank of India
      type: object
      properties:
        channel:
          type: string
        netbanking_bank_code:
          type: string
        netbanking_bank_name:
          type: string
      required:
      - channel
      - netbanking_bank_name
      - netbanking_bank_code
    PaymentMethodUPIInPaymentsEntity:
      title: PaymentMethodUPIInPaymentsEntity
      example:
        channel: collect
        upi_id: 980123781@upi
      type: object
      properties:
        channel:
          type: string
        upi_id:
          type: string
      required:
      - channel
    PaymentMethodCardlessEMIInPaymentsEntity:
      title: PaymentMethodCardlessEMIInPaymentsEntity
      example:
        channel: link
        provider: flexmoney
        phone: 9908761211
      type: object
      properties:
        channel:
          type: string
        provider:
          type: string
        phone:
          type: string
    PaymentMethodPaylaterInPaymentsEntity:
      title: PaymentMethodPaylaterInPaymentsEntity
      example:
        channel: link
        provider: lazypay
        phone: 9908761211
      type: object
      properties:
        channel:
          type: string
        provider:
          type: string
        phone:
          type: string
    PaymentMethodAppInPaymentsEntity:
      title: PaymentMethodAppInPaymentsEntity
      example:
        channel: link
        provider: paytm
        phone: 1234512345
      type: object
      properties:
        channel:
          type: string
        provider:
          type: string
        phone:
          type: string
    ErrorResponse:
      title: ErrorResponse
      example:
        message: bad URL, please check API documentation
        code: request_failed
        type: invalid_request_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
          - invalid_request_error
          - authentication_error
          - rate_limit_error
          - validation_error
          - api_error
          description: One of ["invalid_request_error", "authentication_error", "rate_limit_error",
            "validation_error", "api_error"]
    AuthenticationError:
      title: AuthenticationError
      example:
        message: authentication Failed
        code: request_failed
        type: authentication_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
          - authentication_error
          description: authentication_error
    RateLimitError:
      title: RateLimitError
      example:
        message: Too many requests from IP. Check headers
        code: request_failed
        type: rate_limit_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
          - rate_limit_error
          description: rate_limit_error
    ApiError:
      title: ApiError
      example:
        message: internal Server Error
        code: internal_error
        type: api_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
          - api_error
          description: api_error
    CreateLinkRequest:
      title: CreateLinkRequest
      example:
        link_amount: 100
        link_currency: INR
        link_minimum_partial_amount: 20
        link_id: my_link_id
        link_partial_payments: true
        customer_details:
          "$ref": "#/components/schemas/LinkCustomerDetailsEntity"
        link_expiry_time: '2021-10-14T15:04:05+05:30'
        link_purpose: Payment for PlayStation 11
        link_notify:
          "$ref": "#/components/schemas/LinkNotifyEntity"
        link_auto_reminders: true
        link_notes:
          "$ref": "#/components/schemas/LinkNotesEntity"
        link_meta:
          "$ref": "#/components/schemas/LinkMetaEntity"
      type: object
      properties:
        link_id:
          type: string
          description: Unique Identifier (provided by merchant) for the Link. Alphanumeric
            and only - and _ allowed (50 character limit). Use this for other link-related
            APIs.
          maxLength: 50
        link_amount:
          type: number
          format: double
          description: Amount to be collected using this link. Provide upto two decimals
            for paise.
        link_currency:
          type: string
          description: Currency for the payment link. Default is INR. Contact care@cashfree.com
            to enable new currencies.
          minLength: 3
          maxLength: 3
        link_purpose:
          type: string
          description: A brief description for which payment must be collected. This
            is shown to the customer.
          maxLength: 500
        customer_details:
          "$ref": "#/components/schemas/LinkCustomerDetailsEntity"
        link_partial_payments:
          type: boolean
          description: If "true", customer can make partial payments for the link.
        link_minimum_partial_amount:
          type: number
          format: double
          description: Minimum amount in first installment that needs to be paid by
            the customer if partial payments are enabled. This should be less than
            the link_amount.
        link_expiry_time:
          type: string
          description: Time after which the link expires. Customers will not be able
            to make the payment beyond the time specified here. You can provide them
            in a valid ISO 8601 time format. Default is 30 days.
        link_notify:
          "$ref": "#/components/schemas/LinkNotifyEntity"
        link_auto_reminders:
          type: boolean
          description: If "true", reminders will be sent to customers for collecting
            payments.
        link_notes:
          "$ref": "#/components/schemas/LinkNotesEntity"
        link_meta:
          "$ref": "#/components/schemas/LinkMetaEntity"
      required:
      - link_amount
      - link_currency
      - link_id
      - customer_details
      - link_purpose
    LinkResponse:
      title: LinkCreationResponse
      type: object
      example:
        cf_link_id: 1996567
        link_id: my_link_id
        link_status: ACTIVE
        link_currency: INR
        link_amount: 100
        link_amount_paid: 0
        link_partial_payments: true
        link_minimum_partial_amount: 20
        link_purpose: Payment for PlayStation 11
        link_created_at: '2021-09-30T17:05:01+05:30'
        customer_details:
[...]
